<h1>Listing users</h1>

<ul>
<% @users.each do |user| %>
  <li>
    <%= image_tag((user.images.first ? user.images.first : "user-avatar.jpg"), :alt => "This is you! (?)", :id => "profile_photo_preview", :class => "img-polaroid") %>
    <div><%= user.first_name %> <%= user.last_name %></div>
    <div><%= link_to 'Show', user %></div>
  </li>
<% end %>
</ul>

