<style media="screen" type="text/css">
  #responsive_examples .columns {
    border: solid 2px #ccc;
    background-color: #aaa;
    padding: 25px;
  }
  
  #responsive_examples p {
    text-align: center;
    font-weight: bold;
  }
</style>

<div id="responsive_examples">
  <p>See the app/assets/stylesheets/responsive.css file for directions on how to use the 12 column grid system.</p>
  
  <hr />
  
  <p>First row:</p>
  <div class="row">
    <div class="small-2 large-4 columns">small-2 large-4 columns</div>
    <div class="small-4 large-4 columns">small-4 large-4 columns</div>
    <div class="small-6 large-4 columns">small-6 large-4 columns</div>
  </div>

  <p>Second row:</p>
  <div class="row">
    <div class="large-3 columns">large-3 columns</div>
    <div class="large-6 columns">large-6 columns</div>
    <div class="large-3 columns">large-3 columns</div>
  </div>
  
  <p>Third row:</p>
  <div class="row">
    <div class="small-6 large-2 columns">small-6 large-2 columns</div>
    <div class="small-6 large-8 columns">small-6 large-8 columns</div>
    <div class="small-12 large-2 columns">small-12 large-2 columns</div>
  </div>
  
  <p>Fourth row:</p>
  <div class="row">
    <div class="small-3 columns">small-3 columns</div>
    <div class="small-9 columns">small-9 columns</div>
  </div>
  
  <p>Fifth row:</p>
  <div class="row">
    <div class="large-4 columns">large-4 columns</div>
    <div class="large-8 columns">large-8 columns</div>
  </div>
  
  <p>Sixth row:</p>
  <div class="row">
    <div class="small-6 large-5 columns">small-6 large-5 columns</div>
    <div class="small-6 large-7 columns">small-6 large-7 columns</div>
  </div>
  
  <p>Seventh row:</p>
  <div class="row">
    <div class="large-6 columns">large-6 columns</div>
    <div class="large-6 columns">large-6 columns</div>
  </div>
</div>

<p>Show and Hide Examples:</p>
<div class="row">
  <strong class="show-for-small-only">This text is shown only on a small screen.</strong>
  <strong class="show-for-medium-up">This text is shown on medium screens and up.</strong>
  <strong class="show-for-medium-only">This text is shown only on a medium screen.</strong>
  <strong class="show-for-large-up">This text is shown on large screens and up.</strong>
  <strong class="show-for-large-only">This text is shown only on a large screen.</strong>
</div>