<div id="events_container">
  <div class="row" id="heading_row">
    <div class="large-3 columns">
      <p></p>
    </div>
    <div class="large-6 columns">
      <h1>Update Event</h1>
      <%= render 'form' %>
    </div>
    <div class="large-3 columns">
      <p></p>
    </div>
  </div>
</div>