<h4><%= @event.name %></h4>
<h5>
  <%= @event.start_time.to_s(:full) %><br />
  
  <% if @event.venue.present? %>
    <%= @event.venue %><br />
  <% end %>
  
  <span><%= @event.location %></span>
</h5>

<hr />
    

