input:focus, select:focus {
  outline: none !important;
}

.upcoming_event_bar, .see_more_events {
  background: #ad3d32;
  padding: 1.5%;
  margin-top: 15px !important;
  cursor: pointer;
}

.upcoming_event_bar:hover, .see_more_events:hover {
  position: relative;
  bottom: 5px;
  margin-bottom: -5px;
  border-bottom: 5px solid #9B2A25;
}

.upcoming_event_bar:active, .see_more_events:active {
  bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.black_text {
  color: #000;
}

.center {
  text-align: center;
}

.event_attendee_image {
  width: 23%;
  margin: 2% 2% 0% 0%;
  float: left;
}

.event_display {
  background: #fff;
  padding: 0% 2% 2% 2%;
  display: none;
}

.event_bar_text {
  display: inline-block;
  text-align: center;
}

.past_event_bar, .past_event_bar_first {
  background: #6d6d6d;
  padding: 1.5%;
  margin-top: 15px !important;
  cursor: pointer;
}

.past_event_bar:hover, .past_event_bar_first:hover {
  position: relative;
  bottom: 5px;
  margin-bottom: -5px !important;
  border-bottom: 5px solid #595959;
}

.past_event_bar:active, .past_event_bar_first:active {
  bottom: 0px;
  position: relative;
  margin-bottom: 0px !important;
  border-bottom: 0px;
}

.right_align {
  text-align: right;
}

.approve_button, .more_faces_button, .load_more_link {
  width: 98%;
  text-decoration: none;
  background: #ad3d32;
  padding: 5px 10px;
  text-align: center;
  float: left;
  margin-top: 2%;
}

.attendance_button {
  margin-top: 8%;
  width: 98%;
  text-decoration: none;
  background: #ad3d32;
  padding: 5px 10px;
  text-align: center;
  float: left;
}

.approve_button:hover, .attendance_button:hover, .more_faces_button:hover {
  position: relative;
  color: #fff;
  bottom: 5px;
  margin-bottom: -5px;
  border-bottom: 5px solid #9B2A25;
}

.approve_button:active, .attendance_button:active, .more_faces_button:active {
  bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.see_more_events {
  padding: 2% 30%;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px 20px;
  position: relative;
  cursor: pointer;
  background: #ad3d32;
  color: white;
  width: 100%;
  display: block;
}

#more_events_bar {
  height: 20px;
}

#attendee_count {
  display: inline-block;
}

#bottom_margin {
  margin-bottom: 20px;
}

#event_button {
  text-align: center;
  float: left;
  width: 100%;
  text-decoration: underline;
  margin-top: 35px;
}

#event_button:hover {
  color: #ad3d32;
}

#event_button:active {
  bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

#event_column {
  padding: 0% 5%;
}

#submit_height {
  height: 350px;
}

#events_container {
  padding: 20px 0 70px 0;
}

#events_container input {
  width: 100%;
  padding: 25px;
  border: none;
  font-size: 25px;
  margin: 15px 0px;
  font-family: "museo-slab";
}

#events_container input[type="submit"] {
  background: #ad3d32;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  bottom: 0px;
}

#events_container input[type="submit"]:hover {
  position: relative;
  bottom: 0px;
  margin-bottom: -5px !important;
  border-bottom: 5px solid #9B2A25;
}

#events_container input[type="submit"]:active {
  bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

#events_container select, input[type="color"][list] {
  background-color: #fff;
  border: 0px;
  height: 30px;
  margin-bottom: 10px;
}

#events_container #event_start_time_1i, #events_container #event_start_time_2i, #events_container #event_start_time_3i {
  width: 93%;
}

#events_container #event_start_time_4i, #events_container #event_start_time_5i {
  width: 38%;
}

#events_container #event_end_time_1i, #events_container #event_end_time_2i, #events_container #event_end_time_3i {
  width: 93%;
}

#events_container #event_end_time_4i, #events_container #event_end_time_5i {
  width: 38%;
}

#flash_notice, #flash_alert {
  width: 100%;
  text-align: center;
  padding: 1%;
  background: #ad3d32;
}

#heading_row {
  margin-top: 15px;
}

#past_events_heading {
  color: #6d6d6d;
  text-align: center;
}

#red_text {
  color: #ad3d32;
  display: inline-block;
}

#upcoming_events_heading {
  text-align: center;
}

#upcoming_events_heading h1 {
  color: #ddd;
}

@media only screen and (max-width: 850px) {
  #event_button {
    background: #6d6d6d;
    padding: 15px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 599px) {
  #event_name {
    margin: 10px 0px;
    font-size: 20px;
  }
  
  #event_button {
    margin-top: -20px;
  }
  
  #upcoming_events_heading {
    margin-top: 50px;
  }
  
  .form_height {
    height: 100%;
  }
  
  #event_button:hover {
    color: #fff;
  }
}