body {
  background: #1d1e1e;
  color: #fff;
}

input{
  width: 100%;
  background: white;
  padding-top: 25px;
  padding-bottom: 24px;
  border: none;
}

#searchthing{
  margin-top: -10px;
  height: 50px;
  text-align: center;
  border: none;
  -webkit-appearance: none;
  background-color:#ad3d32;
  color:white;
  font-weight:bold;
}

.profilefields{
  margin-left: 40px;
  line-height: 5;
}

.row_1{
  padding-right: 20px;
  line-height: 5;
}

.row_2{
  padding-left: 20px;
  line-height: 5;
}

#searchfield{
  -webkit-appearance: none;
  margin-top: -10px;
  border: none;
  height: 50px;
}

body a {
  color: #fff;
}

.black_text {
  color: #000;
}

.event_attendee_image {
  width: 23%;
  margin: 2% 2% 0% 0%;
  float: left;
}

.event_display {
  background: #fff;
  padding: 0% 2% 2% 2%;
  display: none;
}

.event_bar_text {
  display: inline-block;
  text-align: center;
}

#event_column {
  padding: 0% 5%;
}

#events_container {
  padding: 20px 0 70px 0;
}

#heading_row {
  margin-top: 15px;
}

.past_event_bar {
  background: #6d6d6d;
  padding: 1.5%;
  margin-top: 15px !important;
  cursor: pointer;
}

#past_events_heading {
  color: #6d6d6d;
  text-align: center;
}

#upcoming_events_heading {
  text-align: center;
}

#red_text {
  color: #ad3d32;
  display: inline-block;
}

#event_button {
  background: #ad3d32;
  padding: 5px 10px;
  text-align: center;
  float: left;
  margin-top: 8%;
  width: 100%;
  text-decoration: none;
}

#attendance_button {
  width: 98%;
  text-decoration: none;
  background: #ad3d32;
  padding: 5px 10px;
  text-align: center;
  float: left;
  margin-top: 8%;
}

.upcoming_event_bar {
  background: #ad3d32;
  padding: 1.5%;
  margin-top: 15px !important;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  
}

@media only screen and (max-width: 599px) {
  #event_name {
    margin: 10px 0px;
    font-size: 20px;
  }
}