/* FORMS */

input {
  width: 100%;
  background: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: none;
  margin: 0;
  font-size: 1em;
  height: 4em;
  border-radius: 0;
}

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 15px;
}

textarea {
  font-size: 1em;
  width: 100%;
  padding: 1.5em;
}

#chooseface {
  padding: 20px;
  background: #ad3d32;
  margin-top: 9px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.profile_field {
  clear: both;
  padding-top: 20px;
}

.profilefields .profile_field:first-child {
  padding-top: 0;
}

#topnavtext {
}

#search_field {
}

#search_button {
  text-align: center;
  background-color: #ad3d32;
  color: #fff;
  font-weight: bold;
  line-height: 0;
  transition-property: all;
  transition-duration: 0.25s;
}

#search_button:hover {
  background: #fff;
  color: #ad3d32; 
}

#search_field, #search_button {
  -webkit-appearance: none;
  border: none;
  margin-top: -3px;
  height: 1.5em;
  padding: 0.5em 0;
}

#user_bio {
  margin-top: 20px;
}

.row_1 {
  padding-right: 20px;
}

.row_2 {
  padding-left: 20px;
}



@media only screen and (max-width: 600px) {
  .row_1, .row_2 {
    padding: 0 5%;
  }
  
  #search_container {
    width: 95% !important;
  }
  
  #search_field, #search_button {
    margin: 10px 0;
  }
  
  #search_field {
    background-color: transparent;
    border: solid 1px #4c6262;
    border-radius: 10px 0 0 10px;
    color: #fff;
  }
  
  #search_button {
    background-color: #4c6262;
    border-radius: 0 10px 10px 0;
  }
}