#works #upload_profile_photo_container, #edit_works #upload_profile_photo_container {
  position: relative;
  margin-top: 0;
}

#upload_profile_photo_container .red_button {
  font-size: 2em;
  font-weight: bold;
  width: 50%;
  margin: 0 auto 25px auto;
  display: block;
  height: 3em;
}

#upload_profile_photo_container p, #upload_profile_photo_container a {
  padding-top: 1em;
}

#works #upload_profile_photo_container #functional_file_button #profile_photo_field,
#edit_works #upload_profile_photo_container #functional_file_button #profile_photo_field {
  height: 250px;
}

#edit_works {
  margin-top: 50px;
  margin-bottom: 50px;
}

#edit_works .red_button {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}