/* GENERAL */
body {
  margin: 0;
}

#footer {
  background: #4c6262;
  color: white;
  padding-top: 50px;
}

.bottomtext {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.bottomlogo {
  position:relative;
  top: 10px;
}

#about_icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  float:right;
  margin-right: 5px;
}

#twitter_icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  float:right;
  background-position-x: 60px;
  margin-right: 5px;
}

#rss_icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  float:right;
  background-position-x: 30px;
  margin-right: 5px;
}

#contact_icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  float:right;
  margin-right: 5px;
  background-position-y: 30px;
}


#menubar {
  background: #4c6262;
  height: 60px;
  color:white;
  padding-top: 21px;
}

#mobilemenubar {
  background: #4c6262;
  height: 60px;
  text-align:center;
  margin-top: -17px;
  color: white;
  padding-top: 5px;
}

#omalogo {
  max-width: 300px;
  display:block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 25px;
}

.redbg {
  background: #ad3d32;
  color: white;
  padding: 5px;
  text-align: center;
  float: right;
}

ul {
  list-style: none;
  width: 50px;
  float: right;
}

ul li {
  background: #ad3d32;
  color: white;
  padding: 5px;
  width: 50px;
  margin-bottom: 10px;
}

.lefttimes {
  float: right;
}

.righttimes {
  float: left;
}

#testimage {
  width: 100%;
}

/* HOMEPAGE */

#headerguy {
  background-image: url("/assets/omaha_skyline3.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  color: #fff;
}

#skyline {
  width: 100%;
}
