/* GENERAL */


h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab",serif;
}

body, p, li, td, th, label, input {
  font-family: "museo-sans",sans-serif;
}


body {
  margin: 0;
  background: #1d1e1e;
  color: #fff;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    background-colorr: #fff !important;
}

ul {
  list-style: none; 
}

/* TEXT */

h1, h2, h3, h4, h5, h6 {
  color: #ad3d32;
  text-align: center;
}

/* LINKS */

a {
  color: #fff;
}

a:hover {
  color: #fb8971;
}

.red_button {
  background: #ad3d32;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
  position: relative;
  transition-property: all;
  transition-duration: 0.25s;
  clear: both;
}

.red_button:hover {
  background: #fff;
  color: #ad3d32;
}

/* HEADER */

#listitemstyle ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#listitemstyle ul li, #listitemstyle .red_button {
  display: inline-block;
}

#listitemstyle .red_button {
  margin-left: 10px;
  margin-right: 10px;
}

#headerguy {
  background-image: url("/assets/omaha_skyline3.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  color: #fff;
  margin-top: 5px;
}

#header_content {
  max-width: 750px;
  position: relative;
  top: -5px;
}

#header_tagline {
  font-size: 0.75em;
  text-shadow: 3px 3px 2px #000;
  text-align: center;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

#skyline {
  width: 100%;
}

#logo {
  max-width: 300px;
  display:block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  top: 15px;
}

#left_nav_buttons, #right_nav_buttons {
  position: relative;
  top: 30px;
}

#left_nav_buttons .red_button {
  float: right;
}

#right_nav_buttons .red_button {
  float: left;
}

#menubar {
  background: #4c6262;
  height: 40px;
  color:white;
  padding-top: 10px;
}

#mobile_menu_bar {
  text-align: center;
  font-size: 1.5em;
}

#mobile_menu_bar p {
  cursor: pointer;
  background: #4c6262;
  margin: 10px 0 0 0;
  padding: 5px 0;
}

#mobile_menu_bar ul {
  padding: 0;
  margin: 0;
}

#mobile_menu_bar .red_button {
  display: block;
  width: 100%;
}

/* FOOTER */

#footer {
  background: #4c6262;
  color: white;
  padding-top: 50px;
}

#footer_content {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
}

#footer_content p {
  padding-right: 10px;
}

.bottomtext {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.bottomlogo {
  position:relative;
  top: 10px;
}

#about_icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  margin-right: 5px;
}

#twitter_icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/assets/OmawhoFooterIcons.png");
  background-position-x: 60px;
  margin-right: 5px;
}

.bottomlogo, #about_icon, #twitter_icon {
  float: right;
  padding-right: 10px;
}

/* MISCELLANEOUS */

.typekit-badge {
  display: none !important;
}

#upload_profile_photo_container{
  margin-top:-15px;
}

.display_name_hidden{
  visibility: hidden;
  position:relative;
  top:-200px;
  text-align:center;
  font-size: 40px;
  height: 30px;
  opacity: 0;
}

.display_name_visibile{
  position: relative;
  top: -50px;
  text-align: center;
  font-size: 20px;
  height: 30px;  
}

.category_name_hidden{  
  visibility: hidden;
  position: relative;
  top: -100px;
  text-align: center;
  font-size: 30px;
  height: 30px;
  opacity: 0;
}

.category_name_visibile{
  position: relative;
  top: -50px;
  text-align: center;
  font-size: 15px;
  height: 30px;  
}

.index_image {
  width: 100%;
  margin-bottom: -60px;
  transition-property: all;
  transition-duration: 0.25s;
}

#topnavtext {
  cursor: pointer;
}

#dropdown {
  padding-top: 50px;
}

.goaway {
  display: none;
}

.comeback {
  visibility: visible;
}

#optional {
  color: #4c6262;
  text-align: center;
  font-size: 22px;
  margin-top: -20px;
}

.span4 {
  width: 100%;
  height: 175px;
  margin-top:12px;
  text-align:center;
  padding-top: 40px;
}

.submitstyles {
  margin-bottom:50px;
  margin-top:50px;
}

@media only screen and (min-width: 600px) {
  .profilefields {
    margin: 0px;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #name, #company, #tagline, #bio, #categories, #social {
    text-align: center;
    padding-left: 0;
  }
  
  .profilefields{
    margin-left: 0px;
  } 
   
  #social ul {
    padding-left: 0;
    text-align: center;
    float: none;
    margin-bottom:30px;
  }
  
  #name {
    margin-top: 50px;
  }
   
  #choosefacecol {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  #mywork {
     padding:20px;
  }
  
   .category_name_visibile{
     top:-50px;
   }
   
   .categories {
     padding-left:20px;
   }
   
   .profilefields {
     margin: 0px;
     padding-left: 20px;
     padding-right: 20px;
   }
   
   #profile_photo_before{
     margin-left: 20px;
     margin-right:20px;
   }
   
   .display-name-hidden {
     visibility: visible;
     opacity: 1;
   }
}

@media only screen and (max-width: 1068px) {
  .category_name_visibile{
    font-size: 15px;
    top: -50px;
  }
}
