#reset_password_container {
  max-width: 800px;
  margin: 0 auto 50px auto;
  text-align: center;
}

#user_password {
  padding: 0 10px;
}

.btn {
  display: block;
  width: 50%;
  margin: 10px auto;
}