/* PROFILE PAGE */

#profile {
  margin-top:55px;
  margin-bottom:50px;
}

#profile h1, #profile h2, #profile h3, #profile h4, #profile h5, #profile h6 {
  text-align: left;
}

#profile h1 {
  font-size: 4em;
  margin-top: 0;
}

.error-list{
  .error-list-item{}
}

#profile_photo_preview{
  width: 100%;
  padding-top: 20px; 
  padding-bottom:40px;
}

.center-text{
  text-align:center;
}

.category{
  display:inline-block;
  background-color: grey;
  margin:.3em;
}

.profilefields {
  margin-left: 40px;
  margin-top: -14px;
}

#name, #company, #tagline, #mywork, #bio, #categories {
  padding-left: 50px;
}

#name {
}

#tagline, #company {
  font-size: 1.75em;
}

#mywork {
  text-align: center;
}

#bio {
  line-height: 1.5em;
}

.categories {
  max-width: 800px !important;
  margin-top: 40px !important;
}

.nobg {
  background: none;
}

#listitemstyle{
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 23px;
}

#works {
  margin-bottom:50px;
}
