/* SOCIAL MEDIA SPRITES */

#social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  float:left;
  padding-left: 35px;
}

#social ul li {
  display: inline-block;
}

#social ul li a {
  padding: .3em 1em;
}

.social_icon {
  width: 30px;
  height: 30px;
  background-image: url("/assets/socialmedia.png");
}

#facebookicon {
  background-position: 240px -2px;
}

#facebookicon:hover {
  background-position: 240px 28px;
}

#twittericon {
  background-position: 30px -2px;
}

#twittericon:hover {
  background-position: 30px 28px;
}

#dribbbleicon {
  background-position: 0 -2px;
}

#dribbbleicon:hover {
  background-position: 0 28px;
}

#googleplusicon {
  background-position: 120px -2px;
}

#googleplusicon:hover {
  background-position: 120px 28px;
}

#linkedinicon {
  background-position: 180px -2px;
}

#linkedinicon:hover {
  background-position: 180px 28px;
}

#instagramicon {
  background-position: 210px -2px;
}

#instagramicon:hover {
  background-position: 210px 28px;
}

#githubicon {
  background-position: 150px -2px;
}

#githubicon:hover {
  background-position: 150px 28px;
}

#pinteresticon {
  background-position: 90px -2px;
}

#pinteresticon:hover {
  background-position: 90px 28px;
}

/* MORE SPRITES */

.sprite {
  background-image: url("SUPERSPRITES.png");
  right: -15px;
  position: relative;
  width: 33px;
  height: 33px;
}

.person {
  background-position: -140px 0;
  position: relative;
}

.username {
  background-position: -93px 0;
}

.email {
  background-position: -412px 0;
}

.password {
  background-position: -180px 0;
}

.tag {
  background-position: -365px -2px;
}

.company {
}

.twitter {
  background-position: 122px 0;
}

.facebook {
  background-position: 215px 0;
}

.github {
  background-position: 32px 0;
}

.companywebsite {
  background-position: -272px 0;
}

.dribbble {
  background-position: 78px 0;
}

.pinterest {
  background-position: -90px -44px;
}

.gplus {
  background-position: 263px 0;
}

.yowebsite {
  background-position: -319px 0;
}

.ln {
  background-position: -46px -44px;
}

.instagram {
  background-position: 170px 0;
}

.whitebg {
  background: #fff;
  height: 4em;
}
