<div class="row">
  <div class="span12">
    <h3>What's this all about?</h3>
    <p class="lead">This is who we are. So many different faces make up this active, brilliant, and (surprisingly) small community. <%= @site_title %> is a proud announcement of membership in that community.</p>
    
    <p class="lead">It also helps us all stay connected:</p>

    <div class="row">
      <div>
        <h4 class="title-bg">Building Relationships</h4>
        <p>Browse <%= @site_title %> on Monday. Three days later, you run into someone you found interesting and say "Hello". Coffee happens. Project happens. Magic!</p>
      </div>
      <div>
        <h4 class="title-bg">Ambient Familiarity&trade;</h4>
        <p>So you're out and about, and you see someone you recognize. Can't place the name? It happens to all of us. Next time, skim <%= @site_title %> and strike up a conversation.</p>
      </div>
      
      <div>
        <%#= Feel free to add your own image below. %>
        <%= image_tag "omaha.jpg" %>
      </div>
    </div>
  </div> 
</div>

</div> <!-- End Container -->
