<!-- Page Content
================================================== --> 
<div class="row">
  <div class="large-10 columns large-offset-1">
    <p>I often forget a person's name when I see them at events.</p>
    
    <p>Maybe flipping through <%= @site_title %> in the parking lot before the event will help me avoid awkward moments and introductions.</p>

    <p>I also think it'll be fun to see everyone's mugs in one place.</p>

    <p>Go ahead and add yourself if you want and poke around a bit. It's such a basic tool right now that you won't need any longer than it took you to read these words.</p>
    
    <p>If you have feedback, shoot it to <a href="mailto:sumeet@bigwheelbrigade.com">sumeet@bigwheelbrigade.com</a>.</p>
    
    <h4>Thanks for helping!<br /><br />&mdash; Sumeet</h4>
  </div>
</div><!-- End container row -->