<div id="headerguy"> 
   <div class="row" style="max-width:660px;">
     <div class="small-1 large-1 columns hide-for-small-only" style="position:relative; top: 120px;">
       <p class="redbg">about</p>
       <p class="redbg">game</p>
      </div>
     <div class="small-10 large-10 columns hide-for-small-only"><img id="omalogo" src="/assets/logo.png"> </div>
     <div class="small-1 large-1 columns hide-for-small-only" style="position:relative; top: 120px;">
       <p class="redbg">login</p>
       <p class="redbg">add</p>
      </div>
      
      <img class="show-for-small-only" id="omalogo" src="/assets/logo.png">
   </div>
  
     
      
</div>