<div id="headerguy"> 
  <div id="header_content" class="row">
    <div class="small-1 large-1 columns hide-for-small-only">
      <p class="red_button">about</p>
      <p class="red_button">game</p>
    </div>
    <div class="small-10 large-10 columns hide-for-small-only">
      <img id="omalogo" src="/assets/logo.png">
    </div>
    <div class="small-1 large-1 columns hide-for-small-only">
      <p class="red_button">login</p>
      <p class="red_button">add</p>
    </div>
    <img class="show-for-small-only" id="omalogo" src="/assets/logo.png">
  </div>
</div>