<div id="menubar" class="hide-for-small-only">
  <div class="row">
    <div class="small-6 large-6 columns">
      <div class="row">
        <div class="small-6 large-6 columns">Filter faces by</div>
        <div class="small-6 large-6 columns">Category</div>
      </div>
      <div class="small-6 large-6 columns">
        <%= form_tag name_search_path, :method => 'get' do %>

            <%= search_field_tag :name_query, params[:name_query] %>
            <%= submit_tag "Search", :name => nil %>

        <% end %>
      </div>
    </div>
    <div class="small-6 large-6 columns">...</div>
  </div>
</div>
